#profilePageGrid
{
    background-image: url('./profilebg.png');
    display: grid;
    height: 100vh;
    padding-top: 11vh;
    background-position: -250px 0px;
    width: 100vw;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    /* margin-top: 10vh; */
}

#profilePanelCon
{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    /* background-color: blue; */
}

#postListCon
{
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    padding-left: 20px;
    position: relative;
    overflow: scroll;
    /* all these lines below are to allow the postcards to go below navbar */
    top: -10vh;
    height: calc(100% + 10vh);
    padding-top: 10vh;
}

@media only screen and (max-width: 900px)
{
    #profilePageGrid
    {
        grid-template-rows: max-content max-content;
        grid-template-columns: 100vw;
    }

    #profilePanelCon
    {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    #postListCon
    {
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
}

@keyframes fadeIn
{
    100% {opacity: 1;}
}

#profilePlaceholder
{
    animation: fadeIn 0.3s 2s 1 forwards;
    opacity: 0;
}